body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  font-family: "Nanum Gothic", sans-serif;
  line-height: 1.4;
  overflow-x: hidden;
}
img {
  display: block; /* 이미지를 글자취급이 아닌, 상자 취급 */
}
ul {
  list-style: none;
}
a {
  text-decoration: none; /* 모든 a테그에 밑줄 제거 */
}
.content {
  width: 1270px;
  margin: 0 auto; /*좌우만 가운데 정렬*/
  position: relative;
}

.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: 0.4s;
}
.btn:hover {
  background-color: #333;
  color: #fff;
}
/* HEADER */
header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
  border-top: 5px solid rgb(0, 146, 35);
  /* border-bottom: 1px solid #c8c8c8; */
  z-index: 9;
}
header > .content {
  height: 200px;
}

header .logo {
  /* 가운데 중앙 정렬 */
  /* 단 정확한 너비를 지정해줘야한다. */
  width: 201.99px;
  height: 40px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /* display: none; */
}

header .sub-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0;
  display: flex;
}

header .sub-menu ul.menu {
  font-family: sans-serif;
  display: flex;
}

header .sub-menu ul.menu li {
  position: relative; /* 부모요소 기준 */
  top: 0;
  bottom: 0;
  margin: auto;
}
header .sub-menu ul.menu li::before {
  background-color: #ddd;
  content: "";
  display: block;
  border-radius: 50px;
  position: absolute; /* 부모요소 기준 배치 */
  top: 0;
  bottom: 0;
  margin: auto;
  width: 3px;
  height: 3px;
}
header .sub-menu ul.menu li:first-child::before {
  display: none;
}
header .sub-menu ul.menu li:last-child::before {
  display: none;
}
header .sub-menu ul.menu li a {
  font-size: 13px;
  padding: 10px 15px;
  display: block;
  color: #666666;
  font-weight: normal;
  line-height: 30px;
  height: 30px;
}
header .sub-menu ul.menu li a.material-icons {
  font-size: 30px;
  width: 30px;
  height: 30px;
  left: 50;
  top: 0;
  bottom: 0;
  margin: auto;
}

header .sub-menu ul.menu li a:hover {
  color: #000;
}

header .sub-menu .search {
  /* background-color: red; */
  height: 34px;
  position: relative;
  top: 0;
  bottom: 0;
  margin: auto;
}

header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px; /* 상하 좌우 */
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: #777;
  /* 전환 효과 : 기본값 all */
  font-size: 13px;
  transition: width 0.4s;
}
header .sub-menu .search input:focus {
  width: 190px;
  border-color: rgb(0, 146, 35);
}

header .sub-menu .search .material-icons {
  /* 수직 가운데 정렬 */
  height: 24px;
  position: absolute; /* 부모요소 search */
  top: 0;
  bottom: 0;
  margin: auto;
  right: 5px;
  /* 전환 효과 */
  transition: 0.4s;
}
header .sub-menu .search.focused .material-icons {
  opacity: 0; /* 아이콘 안보이기 */
}

header #lnb {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
  z-index: 9;
}
header #lnb nav {
  border-bottom: 1px solid #c8c8c8;
  text-align: center;
  font-size: 0;
  position: relative;
  z-index: 9;
}
header #lnb nav > ul {
  margin-bottom: -1px;
  display: inline-block;
  overflow: hidden;
}
header #lnb nav + div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  z-index: 3;
  transition: 0.5s;
  opacity: 0;
  background-color: #fff;
  /* margin-left: -1000px; */
}
header #lnb nav + div .on {
  /* position: relative; */
  width: 5000px;
  height: 100%;
  background-color: #fff;
  margin-left: calc(-3000px / 2);
  z-index: 2;
}

header #lnb nav > ul:hover {
  overflow: visible;
}
header #lnb nav:hover + div {
  height: 330px;
  opacity: 1;
}
header #lnb nav + div::after {
  content: "";
  position: absolute;
  width: 5000px;
  height: 2px;
  background-color: #c6c6c6;
  left: -100%;
  bottom: 0px;
  transition: 0.9s;
  z-index: 9;
}
header #lnb nav > ul:hover ul {
  display: block;
  opacity: 1;
}
header #lnb nav > ul > li {
  display: inline-block;
  position: relative;
  left: -50px;
}
header #lnb nav > ul > li > a {
  display: block;
  position: relative;
  width: 165px;
  height: 60px;
  font-size: 18px;
  font-weight: 900;
  color: #000;
  line-height: 60px;
  /*   line-height: 69px; */
}
header #lnb nav > ul > li > a:hover {
  color: rgb(0, 146, 35);
}
header #lnb nav > ul > li > a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: rgb(0, 146, 35);
  left: 50%;
  bottom: 0;
  transition: 0.5s;
}
header #lnb nav > ul > li:hover > a:after {
  width: 100%;
  left: 0;
}
header #lnb nav > ul ul {
  position: absolute;
  /* display: none; */
  width: 100%;
  text-align: center;
  padding: 22px 0;
  opacity: 0;
  transition: 0.7s;
  height: 230px;
}

header #lnb nav > ul ul li {
  line-height: 30px;
}

header #lnb nav > ul ul a {
  font-size: 14px;
  color: #333;
  position: relative;
  transition: 0.7s;
}
header #lnb nav > ul ul a:hover {
  color: rgb(0, 146, 35);
  font-weight: 500;
  /* text-decoration: underline; */
}
header #lnb nav > ul ul a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background-color: rgb(0, 146, 35);
  left: 50%;
  bottom: -7px;
  transition: 0.5s;
}
header #lnb nav > ul ul a:hover:after {
  left: 0;
  width: 100%;
}

.promotions {
  position: relative;
  margin-top: 170px;
  /* background-color: red; */
  /* background-position: center; */
  height: 500px;
  z-index: 0;
}

.promotions .swiper-container {
  width: 1920px;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: calc(-1920px / 2);
  box-sizing: border-box;
}

.promotions .swiper-slide {
  opacity: 0;
  transition: opacity 1s;
  /* position: relative; */
}
.promotions .swiper-slide-active {
  opacity: 1;
}
.promotions .swiper-pagination {
  bottom: 60px;
  left: 0;
  right: 0;
}
.promotions .swiper-pagination .swiper-pagination-bullet {
  /* background-image: url("./image/promotion_slide_pager.png"); */
  width: 12px;
  height: 12px;
  margin-right: 6px;
  /* outline: none; */
}
.promotions .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}
.promotions .swiper-pagination .swiper-pagination-bullet-active {
  width: 20px;
  height: 12;
  background-color: rgb(255, 195, 0);
  border-radius: 30px;
}
.promotions .swiper-prev {
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 300px;
  margin: auto;
  z-index: 1;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.promotions .swiper-next {
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;

  position: absolute;
  top: 0;
  bottom: 0;
  right: 300px;
  margin: auto;
  z-index: 1;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.promotions .swiper-prev:hover,
.promotions .swiper-next:hover {
  background-color: #ffce32;
  border: 2px solid #ffce32;
  color: #fff;
}
/* QUICK MENU */
.quick__menu {
}
.quick__menu .content {
  z-index: 1;
}
.quick__menu .menus {
  display: flex;
  margin-right: 300px;
  float: right;
  margin: auto;
  margin-top: -100px;
  margin-right: -100px;
}
.quick__menu .menu__store {
  width: 300px;
  height: 80px;
  border-top-left-radius: 30px;
  background-color: #ffce32;
}
.quick__menu .menu__franchise {
  width: 300px;
  height: 80px;
  background-color: #009223;
  border-bottom-right-radius: 30px;
}
.menus .menu__store a {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 22px;
}
.menus .menu__store a strong {
  color: #292929;
  display: block;
  font-size: 22px;
}
.menus .menu__store > a strong:before {
  content: "";
  background-image: url("./image/point.png");
  width: 24px;
  height: 30px;
  position: absolute;
  margin-left: -30px;
}
.menus .menu__franchise {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.menus .menu__franchise > a > strong {
  color: #fff;
  display: block;
  font-size: 22px;
  margin-top: 22px;
}
.menus .menu__franchise > a > strong:before {
  content: "";
  background-image: url("./image/note.png");
  width: 24px;
  height: 30px;
  position: absolute;
  margin-left: -30px;
}

/* YOUTUBE */
.youtube {
  position: relative;
  height: 700px;
  background-color: #333;
  overflow: hidden;
  top: -60px;
}
.youtube .youtube__area {
  width: 1920px;
  background-color: orange;
  position: absolute;
  left: 50%;
  margin-left: calc(1920px / -2);
  top: 50%;
  margin-top: calc(1920px * 9 / 16 / -2);
}
.youtube .youtube__area::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}
.youtube .youtube__cover {
  background-image: url("https://raw.githubusercontent.com/ohtaekwon/starbucks/master/images/video_cover_pattern.png");
  background-color: rgba(0, 0, 0, 0.4);

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.youtube .content {
  height: 700px;
}

.youtube .floating1 {
  width: 300px;
  position: absolute;
  top: 50px;
  left: 0;
  opacity: 0.9;
  border-radius: 50%;
}
.youtube .floating2 {
  width: 300px;
  position: absolute;
  top: 300px;
  right: 0;
  /* opacity: 0.6; */
  border-radius: 60% 50%;
}
/* SUBWAY MENU */
.subway__menu {
  background-image: url("./image/menu_bg.jpg");
  z-index: -1;
  margin-top: -60px;
}
.subway__menu .content {
  width: 1920px;
}
.subway__menu .menu__nav {
  width: 1600px;
  height: 120px;
  margin: 0 auto; /*좌우만 가운데 정렬*/
  position: relative;
  /* background-color: royalblue; */
}
.subway__menu .title {
  width: 250px;
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  /* background-color: orange; */
  z-index: 2;
}
.subway__menu h4 {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  margin-left: 30px;
}

.subway__menu .menu__nav h4:before {
  content: "";
  background-image: url("./image/bul_tit.png");
  width: 60px;
  height: 60px;
  top: 10px;
  margin-left: -20px;
  position: absolute;
  z-index: -1;
}

.subway__menu .menu__nav .tab {
  width: 500px;
  height: 100px;
  position: relative;
  top: 10px;
  float: right;
  bottom: 0;
  margin: auto;
  /* background-color: orange; */
}

.subway__menu .menu__nav .tab ul {
  display: flex;
  height: 100px;
  left: 0;
  /* margin-left: 10px; */
  margin: auto;
  position: absolute;
}

.subway__menu .menu__nav .tab ul li {
  display: block;
  /* background-color: white; */
  top: 0;
  bottom: 0;
  line-height: 100px;
  margin-left: 5px;
  font-size: 15px;
  font-weight: 600;
  height: 100px;
  cursor: pointer;
}
.subway__menu .menu__nav .tab ul li input {
  border: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}

.subway__menu .menu__nav .tab ul li::before {
  content: "";
  display: block;
  width: 2px;
  height: 15px;
  background-color: #333;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  margin-left: -1px;
}
.subway__menu .menu__nav .tab ul li:first-child:before {
  display: none;
}

.slide.on {
  width: 100%;
  height: 550px;
}
.slide.off {
  width: 100%;
  height: 550px;
  display: none;
}

.fresh {
  width: 100%;
  height: 550px;
  display: none;
}
.premium {
  width: 100%;
  height: 550px;
  display: none;
}
.morning {
  width: 100%;
  height: 550px;
  display: none;
}

.subway__menu .swiper-container {
  width: calc(320px * 4);
  height: 550px;
  position: absolute;
  /* left: 50%; */
  left: 0;
  right: 0;
  margin: auto;
}

.subway__menu .swiper-slide {
  opacity: 0;
  transition: opacity 1s;
  height: 500px;
  margin: auto;
}

/* .subway__menu .swiper-slide-duplicate {
  opacity: .9;
} */
.subway__menu .swiper-slide img {
  width: 260px;
  height: 182px;
  margin-top: 20px;
}
.subway__menu .swiper-slide:hover img {
  width: 300px;
  height: 300px;
  z-index: 3;
  position: absolute;
}
.subway__menu .swiper-slide:hover:after {
  content: "";
  background-image: url("./image/btn_more.png");
  position: absolute;
  width: 75px;
  height: 75px;
  top: -60px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  z-index: 9;
}
.subway__menu .swiper-slide:hover span + p {
  display: none;
}
.subway__menu .swiper-slide-active {
  opacity: 1;
}
.subway__menu .swiper-slide-prev {
  opacity: 1;
}
.subway__menu .swiper-slide-next {
  opacity: 1;
}
.subway__menu .swiper-pagination {
  bottom: 150px;
  width: 200px;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
}
.subway__menu .swiper-pagination .swiper-pagination-bullet {
  /* background-image: url("./image/promotion_slide_pager.png"); */
  width: 12px;
  height: 12px;
  margin-right: 6px;
  /* outline: none; */
}
.subway__menu .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}
.subway__menu .swiper-pagination .swiper-pagination-bullet-active {
  width: 20px;
  height: 12;
  background-color: rgb(255, 195, 0);
  border-radius: 30px;
}
.subway__menu .swiper-prev {
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: -150px;
  bottom: 0;
  left: 100px;
  margin: auto;
  z-index: 1;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.subway__menu .swiper-next {
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;

  position: absolute;
  top: -150px;
  bottom: 0;
  right: 100px;
  margin: auto;
  z-index: 1;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.subway__menu .swiper-prev:hover,
.subway__menu .swiper-next:hover {
  background-color: #ffce32;
  border: 2px solid #ffce32;
  color: #fff;
}

.subway__menu span {
  display: block;
  width: 250px;
  font-size: 20px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  vertical-align: top;
}

.subway__menu p {
  display: block;
  width: 250px;
  font-size: 13px;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  vertical-align: middle;
  margin-top: 50px;
  line-height: 20px;
}

.subway__about {
  background-image: url("./image/bg_content.gif");
  background-repeat: repeat;
  width: 100%;
  height: 900px;
  margin-top: -130px;
  z-index: -1;
}
.subway__about .title {
  width: 250px;
  height: 100px;
  position: relative;
  top: 0;
  bottom: 0;
  left: -680px;
  margin: auto;
  z-index: 9;
  /* background-color: orange; */
}
.subway__about h4 {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  margin-left: 30px;
}
.subway__about h4:before {
  content: "";
  background-image: url("./image/bul_tit.png");
  width: 60px;
  height: 60px;
  top: 10px;
  margin-left: -20px;
  position: absolute;
  z-index: -1;
}
.subway__about .content--top {
  display: flex;
  width: 100%;
  position: relative;
  top: 0;
  left: 50px;
  margin: auto;
  justify-content: center;
}
.subway__about .content--top .utilization {
  width: 400px;
  height: 300px;
  background-image: url("./image/utill__01.png");
  top: 0;
  position: relative;
}
.subway__about .content--top .utilization .title {
  display: block;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: -0.03em;
  position: absolute;
  width: 300px;
  left: 30px;
  bottom: 100px;
}
.subway__about .content--top .history {
  width: 825px;
  height: 300px;
  background-image: url("./image/utill__02.png");
  position: relative;
}
.subway__about .content--top .history p {
  display: block;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: -0.03em;
  position: absolute;
  width: 300px;
  left: 410px;
  bottom: 100px;
}
.subway__about .content--bottom {
  display: flex;
  width: 100%;
  position: relative;
  top: 20px;
  left: 20px;
  margin: auto;
  justify-content: center;
}
.subway__about .content--bottom .new {
  width: 870px;
  height: 300px;
  background-color: #fff;
  top: 0;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-image: url("./image/vedio_background.png");
}

.subway__about .content--bottom .sponsor {
  width: 270px;
  height: 300px;
  background-image: url("./image/sponsor.jpg");
  margin-left: 30px;
  border-top-right-radius: 30px;
}
